VTApp/Service References/ServiceReference1/VirtualTour.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VirtualTourService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VirtualTourService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Building">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Building_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
  <xs:complexType name="Building_Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image_code" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building_Image" nillable="true" type="tns:Building_Image" />
  <xs:complexType name="Image_direction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image_back" type="xs:int" />
      <xs:element minOccurs="0" name="Image_front" type="xs:int" />
      <xs:element minOccurs="0" name="Image_left" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Image_right" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image_direction" nillable="true" type="tns:Image_direction" />
  <xs:complexType name="ArrayOfBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilding" nillable="true" type="tns:ArrayOfBuilding" />
</xs:schema>