VTApp/Service References/ServiceReference1/VirtualTour2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51376/VirtualTour.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualTourService" />
  <xs:element name="GetBuildingByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VirtualTourService" minOccurs="0" name="GetBuildingByIDResult" nillable="true" type="q1:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VirtualTourService" minOccurs="0" name="GetImageByIDResult" nillable="true" type="q2:Building_Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesForDirections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesForDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VirtualTourService" minOccurs="0" name="GetImagesForDirectionsResult" nillable="true" type="q3:Image_direction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCredentialsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBuildingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingIDVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingDescVal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBuildingInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageInfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageInforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveImageInforResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageDirectionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageID" type="xs:int" />
        <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageDirectionDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VirtualTourService" minOccurs="0" name="CreateListResult" nillable="true" type="q4:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>